/* Main Container */
.testimonials-container {
  text-align: center;
  padding: 10px;
  background-color: #f5f1eb;
}

/* Section Title */
.section-title h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Carousel Styling */
.carousel-container {
  max-width: 80%;
  margin: 10 auto;
}

.carousel-item-padding {
  padding: 10px;
}

.custom-dot-list-style {
  bottom: -20px;
}

@media (max-width: 768px) {
  .carousel-container {
    max-width: 95%;
  }
}
.react-multi-carousel-dot-list {
  margin: -3;
}
