.container {
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    text-align: center;
}
.container Carousel{
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    display: block;
    clear: both;
    width: 600px;
}