/* Carousel Container */
.carousel-container {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.carousel-image {
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-caption {
  background: rgb(0 0 0 / 60%);
  padding: 10px;
  border-radius: 5px;
}

@media (width <= 768px) {
  .carousel-container { width: 95%; }
  .carousel-image { max-height: 300px; }
  .carousel-caption h3 { font-size: 1.2rem; }
  .carousel-caption p { font-size: 0.9rem; }
}
